a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

a::before {
    content: ">";
}

a::after {
    content: "<";
}

div.header {
    padding: 20px 0;
    border: 2px solid black;
}

div.header div:first-child {
    float: left;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.header div:last-child {
    float: right;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

